body {
  background-color: lightgray;
}

div {
  background-color: lightblue
}

.myclass {
  background-color: yellow;
}

div, notdiv {
  background-color: green;
}

a[href^=http] {
  background-color: red;
}

a[href^=https] {
  background-color: purple;
}

parent child {
  background-color: yellow;
}

input[name^=anthony] {
  background-color: red;
}